<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
          $("#accordion").accordion({
          });
        });
        </script>

    <title>Hi!</title>
</head>
<body class="light">
    <br><br><br><br>
    <h1 style="font-size: 100px;">Hi!</h1>
    <h1>Welcome to Edina's page.</h1>
    <h1>
        <button class="btn nightbutton" style="font-size: 80px;">☁</i></button>
    </h1>
    <br><br>
    <div class="container">
        <div class="col-sm-12">
            <div id="accordion">
                <div class="item">
                    <div class="row accordion">
                        <div class="col-sm-8" data-toggle="collapse" href="#isi1">
                            <h2 style="padding-top: 10px;">Get to know me?</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="move" style="text-align: right;">
                                <button id="oneUp" class="btn-light move-up">⬆</button> <button id="oneDown" class="btn-light move-down">⬇</button>
                            </div> 
                        </div>  
                    </div>
                    <div class="collapse" id="isi1">
                        <p>I am a 20 years old student who currently studying Computer Science at University of Indonesia. 
                        I'm interested in Computer Science because computing is part of everything we do.
                        I am an ambitious and driven person who also like to try some new things. </p>
                    </div>
                </div>
                
                <div class="item">
                    <div class="row accordion">
                        <div class="col-sm-10" data-toggle="collapse" href="#isi2">
                            <h2 style="padding-top: 10px;">My activity?</h2>
                        </div>
                        <div class="col-sm-2">
                            <div class="move" style="text-align: right;">
                                <button id="oneUp" class="btn-light move-up">⬆</button> <button id="oneDown" class="btn-light move-down">⬇</button>
                            </div> 
                        </div>
                    </div>
                    <div class="collapse" id="isi2">
                        <p>I'm a full-time student and a part-time teaching assistant of Linear Algebra at Faculty of Computer Science
                        University of Indonesia</p>
                    </div>
                </div>
    
                <div class="item">
                    <div class="row accordion">
                        <div class="col-sm-10" data-toggle="collapse" href="#isi3">
                            <h2 style="padding-top: 10px;">My experience and achievement?</h2>
                        </div>
                        <div class="col-sm-2">
                            <div class="move" style="text-align: right;">
                                <button id="oneUp" class="btn-light move-up">⬆</button> <button id="oneDown" class="btn-light move-down">⬇</button>
                            </div> 
                        </div>
                    </div>
                    <div class="collapse" id="isi3">
                        <ul>
                            <li>Editorial Marketing of COMPFEST 11</li>
                            <li>Teaching Assistant of Calculus</li>
                            <li>Teaching Assistant of Linear Algebra</li>
                            <li>KUMON Completer 2016</li>
                        </ul>
                    </div>
                </div>
    
                <div class="item">
                    <div class="row accordion">
                        <div class="col-sm-10" data-toggle="collapse" href="#isi4">
                            <h2 style="padding-top: 10px;">My skills?</h2>
                        </div>
                        <div class="col-sm-2">
                            <div class="move" style="text-align: right;">
                                <button id="oneUp" class="btn-light move-up">⬆</button> <button id="oneDown" class="btn-light move-down">⬇</button>
                            </div> 
                        </div>
                    </div>
                    <div class="collapse" id="isi4">
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>SQL</li>
                            <li>HTML/CSS/JavaScript</li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
        </div>
        
    

    <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
        <script>
            jQuery('.move').children().click(function (e) {
            var $div = $(this).closest('.item');
            if (jQuery(e.target).is('.move-down')) { 
                $div.next('.item').after($div);
            } else {
                $div.prev('.item').before($div);
            }
        });</script>

        <script>
            $(".nightbutton").click(() => {
        let body = document.querySelector('body')
        if (body.classList.contains('light')) {
            body.classList.remove('light');
            body.classList.add('night');  
        }
        else {
            body.classList.remove('night');
            body.classList.add('light');
            
        }
    });
        </script>
        

</body>
</html>