html{
    width:100%;
    height:100%;
    
}

.light{
  background-color: #f4dada;
}

h1{
    font-family: 'Raleway';
    text-align: center;
    font-size: 80px;
}

p, li{
    font-family: Raleway;
    font-size: 25px;
    color: #444;
}

.light .row {
    background-color: #f4dada;
    font-family: Raleway;
    font-size: 35px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 25px;

  }

.light .accordion {
    background-color: #90303d;
    color: white;
    outline: none;
    border: none;
  }

/* .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    outline: none;
    border: none;
  }
  
.active:after {
    content: "\2212";
    color: white;
    outline: none;
    border: none;
  } */

.light .panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.26);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 25px;
    outline: none;
    border: none;
  } 

/* BLUE MODE  */
.night{
  background-color: #b2ebf2;
}

.night .row {
  background-color: #b2ebf2;
  font-family: Raleway;
  font-size: 35px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 25px;

}

.night .accordion {
  background-color: #00bcd4;
  color: white;
  outline: none;
  border: none;
}

.night .panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.26);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 25px;
  outline: none;
  border: none;
} 